/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */
.Titrediv {
  justify-content: left;
  color: aliceblue;
}


body {
  background-color: #21272e;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  max-width: 390px;
  text-align: center;


}

div {}

p {
  color: aliceblue;
}

.menu {
  max-width: 430px;
  margin-top: 100px;
}

.couverture {
  justify-content: center;
  max-width: 430px;
}

.Titre {
  background-color: #475565;
  justify-content: left;
}

.Auteurice {
  background-color: #475565;

}

.Genre {
  background-color: #475565;

}

.Date {
  background-color: #475565;

}

.Description {
  background-color: #475565;
  margin-top: 50px;
}

.Commentaire {
  background-color: #475565;
  border-radius: 30px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}



body {

  font-family: Arial, Helvetica, sans-serif;
  max-width: 430px;
  max-height: 1192px;
  margin: auto;
}